.App {
  text-align: center;
  background-color: #f0f0f0;
  max-width: 100%;
}
html {
  background-color: #f0f0f0;
}


.table {
  background-color: white;
  border-radius: 10px;

}
.image {
  max-width: 800px;
  float: left;
  margin-left: 0;
  height: auto;
}

.right {
  margin-top: 8rem;
}

.label {
  text-align: left;
}

.table-width {
  margin-left: 25rem;
  margin-right: 25rem;
  margin-top: 2.5rem;
}
@media screen and (max-width: 1155px) {
  .table-width {
    margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2.5rem;
  }
}

@media screen and (max-width: 950px) {
  .image {
    max-width: 50%;
    margin: 0 auto;
  }
  
  .right {
    width: 100%;
  }

  .table-width {
    margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
  }
}

/* @media only screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: auto;
  }
  
  .table td, .table th {
    white-space: nowrap;
  }
} */

